services:
  redis:
    image: redis:7.2.4-alpine3.19
    restart: always
    ports:
      - "6600:6379"
    command: >
      redis-server
      --maxmemory 2000mb
      --maxmemory-policy volatile-lfu
      --save ""
      --appendonly no
      --loglevel warning
    mem_limit: 2200M

  core:
    image: epam/ai-dial-core:development
    platform: linux/amd64
    environment:
      'JAVA_OPTS': '-Dgflog.config=/opt/settings/gflog.xml'
      'proxy.config.files': '["/app/config/config.json"]'
      'aidial.identityProviders.keycloak.jwksUrl': 'http://keycloak:${KC_PORT}/realms/dial/protocol/openid-connect/certs'
      'aidial.identityProviders.keycloak.rolePath': 'roles'
      'aidail.access.admin.rules': '[{"source": "roles", "function": "EQUAL", "targets": ["admin"]}]'
      'aidial.identityProviders.keycloak.loggingKey': 'email'
      'aidial.identityProviders.keycloak.loggingSalt': 'loggingSalt'
      'aidial.encryption.secret': '${DIAL_CORE_ENCRYPTION_SECRET}'
      'aidial.encryption.key': '${DIAL_CORE_ENCRYPTION_KEY}'
      'aidial.redis.singleServerConfig.address': 'redis://redis:6379'
      'aidial.storage.provider': 'filesystem'
      'aidial.storage.prefix': 'core'
      'aidial.storage.bucket': 'dial'
      'aidial.storage.createBucket': 'true'
      'aidial.storage.overrides': '{"jclouds.filesystem.basedir": "data"}'
      'aidial.applications.includeCustomApps': 'true'
    ports:
      - "${DIAL_CORE_HOST_PORT}:8080"
    volumes:
      - ${DIAL_DIR:-.}/core:/app/config
      - ${DIAL_DIR:-.}/core-logs:/app/log
      - ${DIAL_DIR:-.}/core-data:/app/data
      - ./settings:/opt/settings
    depends_on:
      - redis
    restart: always

  adapter-dial-openai:
    image: epam/ai-dial-adapter-openai:development
    platform: linux/amd64
    environment:
      DALLE3_DEPLOYMENTS: dall-e-3
      DIAL_URL: "http://core:8080"
      LOG_LEVEL: "INFO"

  adapter-dial-bedrock:
    image: epam/ai-dial-adapter-bedrock:development
    platform: linux/amd64
    environment:
      COMPATIBILITY_MAPPING: '{"claude-sonnet-4-20250514": "anthropic.claude-sonnet-4-20250514-v1:0"}'
      DIAL_URL: "http://core:8080"
      LOG_LEVEL: "DEBUG"

  adapter-dial-vertexai:
    image: epam/ai-dial-adapter-vertexai:development
    platform: linux/amd64
    environment:
      DIAL_URL: "http://core:8080"
      LOG_LEVEL: "DEBUG"

  keycloak:
    image: keycloak/keycloak:26.3
    user: root
    command: ["start-dev", "--import-realm", "--http-port=${KC_PORT}", "--hostname-backchannel-dynamic=true"]
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_ADMIN_PASSWORD}
      KC_HOSTNAME: http://localhost:${KC_PORT}
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_PROXY: edge
      QUARKUS_HTTP_LIMITS_MAX_HEADER_SIZE: 64k
      KC_INITIALIZE_EMPTY: 'true'
      KC_FEATURE_CACHE_STACK: 'true'
    ports:
      - "${KC_PORT}:${KC_PORT}"
    volumes:
      - ./keycloak/data:/opt/keycloak/data
      - ./keycloak/import/realm-config.json:/opt/keycloak/data/import/realm-config.json
    healthcheck:
      test: [
        "CMD-SHELL",
        'exec 3<>/dev/tcp/localhost/${KC_PORT}; echo -e "GET /health/ready HTTP/1.1\nhost: localhost:${KC_PORT}\n" >&3; timeout --preserve-status 1 cat <&3 | grep -m 1 status | grep -m 1 UP; ERROR=$?; exec 3<&-; exec 3>&-; exit $ERROR'
      ]
      interval: 5s
      timeout: 3s
      retries: 6
      start_period: 60s
    restart: always

  themes:
    image: epam/ai-dial-chat-themes:development
    platform: linux/amd64
    ports:
      - "3101:8080"

  chat:
    image: epam/ai-dial-chat:development
    platform: linux/amd64
    environment:
      AUTH_KEYCLOAK_CLIENT_ID: "dial-chat"
      AUTH_KEYCLOAK_DIAL_ROLES_FIELD: "resource_access.dial-chat.roles"
      AUTH_KEYCLOAK_HOST: "http://keycloak:${KC_PORT}/realms/dial/"
      AUTH_KEYCLOAK_SECRET: "${AUTH_KEYCLOAK_SECRET}"
      DIAL_API_HOST: "http://core:8080"
      ENABLED_FEATURES: "conversations-section,prompts-section,top-settings,top-clear-conversation,top-chat-info,top-chat-model-settings,empty-chat-settings,header,footer,request-api-key,report-an-issue,likes,conversations-sharing,input-files,attachments-manager,prompts-sharing,prompts-publishing,conversations-publishing,custom-logo,input-links,custom-applications,message-templates,marketplace,quick-apps,code-apps,applications-sharing,marketplace-table-view,toolsets"
      KEEP_ALIVE_TIMEOUT: ${CHAT_KEEP_ALIVE_TIMEOUT:-20000}
      NEXTAUTH_SECRET: "${NEXTAUTH_SECRET}"
      THEMES_CONFIG_HOST: "http://themes:8080"
      NEXTAUTH_URL: "http://localhost:${DIAL_CHAT_HOST_PORT}"
      NEXTAUTH_URL_INTERNAL: "http://chat:3000"
    ports:
      - "${DIAL_CHAT_HOST_PORT}:3000"
    depends_on:
      - themes
      - core
      - keycloak
    restart: always

  influxdb:
    user: ${UID:-root}
    image: influxdb:latest
    platform: linux/amd64
    ports:
      - '3003:8086'
    volumes:
      - ./influxdb-storage:/var/lib/influxdb
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN}

  prometheus:
    image: prom/prometheus:latest
    platform: linux/amd64
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    user: ${UID:-root}
    image: grafana/grafana:latest
    platform: linux/amd64
    ports:
      - '3002:3000'
    volumes:
      - ./grafana-storage:/var/lib/grafana
      - ./grafana-provisioning/:/etc/grafana/provisioning/
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_ADMIN_TOKEN}

  analytics:
    image: epam/ai-dial-analytics-realtime:development
    platform: linux/amd64
    depends_on:
      - core
      - influxdb
    environment:
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_ORG=${INFLUXDB_ORG}
      - INFLUX_BUCKET=${INFLUXDB_BUCKET}
      - INFLUX_API_TOKEN=${INFLUXDB_ADMIN_TOKEN}

  logger:
    user: ${UID:-root}
    image: timberio/vector:0.45.0-debian
    platform: linux/amd64
    depends_on:
      - analytics
    ports:
      - "8686:8686"
    volumes:
      - ./vector-data:/var/tmp/vector
      - ./vector.yaml:/etc/vector/vector.yaml
      - ${DIAL_DIR:-.}/core-logs/:/app/log

  admin-backend:
    image: epam/ai-dial-admin-backend:development
    platform: linux/amd64
    user: ${UID:-root}
    environment:
      CONFIG_EXPORT_OUTPUTFILE_PATH: /app/config/config.json
      CORE_CLIENT_URL: "http://core:8080"
      DEBUG_OPTS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006"
      DISABLE_SWAGGER_AUTHORIZATION: true
      DIAL_ADMIN_CLIENT_ID: "dial-admin-console"
      ENABLE_CONFIG_AUTO_IMPORT_ON_BOOTSTRAP: "true"
      H2_DATASOURCE_ENCRYPTED_FILE_KEY: ${H2_DATASOURCE_ENCRYPTED_FILE_KEY}
      H2_DATASOURCE_MASTER_KEY: ${H2_DATASOURCE_MASTER_KEY}
      H2_DATASOURCE_PASSWORD: ${H2_DATASOURCE_PASSWORD}
      H2_FILE: ./data/testdb
      CONFIG_REST_SECURITY_MODE: "oidc"
      'providers.keycloak.allowed-roles': 'ConfigAdmin,admin'
      'providers.keycloak.audiences': 'dial-admin-console'
      'providers.keycloak.issuer': "http://${COMMON_HOST}:${KC_PORT}/realms/dial"
      'providers.keycloak.jwk-set-uri': "http://keycloak:${KC_PORT}/realms/dial/protocol/openid-connect/certs"
      'providers.keycloak.role-claims': roles
      METRICS_ENABLED: "true"
      METRICS_STORAGE_HOST: "http://influxdb:8086"
      METRICS_STORAGE_TOKEN: ${INFLUXDB_ADMIN_TOKEN}
    depends_on:
      - keycloak
    volumes:
      - ${DIAL_DIR:-.}/admin/data:/app/data
      - ${DIAL_DIR:-.}/core:/app/config
    restart: always

  admin-frontend:
    image: epam/ai-dial-admin-frontend:development
    platform: linux/amd64
    environment:
      GRAFANA_LINK: "http://localhost:3002/"
      DIAL_ADMIN_API_URL: "http://admin-backend:8080/"
      NEXTAUTH_URL: "http://${COMMON_HOST}:${DIAL_ADMIN_FRONTEND_HOST_PORT}"
      NEXTAUTH_SECRET: "${NEXTAUTH_SECRET}"
      NEXTAUTH_COOKIE_PREFIX: "admin"
      AUTH_KEYCLOAK_HOST: "http://keycloak:${KC_PORT}/realms/dial/"
      AUTH_KEYCLOAK_CLIENT_ID: "dial-admin-console"
      AUTH_KEYCLOAK_SECRET: "${AUTH_KEYCLOAK_SECRET}"
      ADMIN_ROLE_NAMES: 'ConfigAdmin,admin'
    ports:
      - "${DIAL_ADMIN_FRONTEND_HOST_PORT}:3000"
    depends_on:
      - keycloak
      - admin-backend
    restart: always
